{% extends "base.html" %}

{% block title_head %}
    Creando Paleta!
{% endblock title_head %}

{% block h1_principal %}
    Crear Paleta
{% endblock h1_principal %}

{% block header_desc %}
    Estamos creando la paleta
{% endblock header_desc %}

{% block main %}
    {% comment %} si a action lo dejo sin nada, envia el formulario a la misma pag,
    si le pongo /paleta enviar el formilario a la pagina paleta {% endcomment %}
    <form action="" method='POST'>
        {% csrf_token %}        
        {% comment %} <p>Marca: <input type="text" name="marca"></p>
        <p>Desc : <input type="text" name="formato"></p>
        <p>Año  : <input type="number" name="anio"></p> {% endcomment %}
        {{formulario}}
        <input type="submit" value="Crear">
        {% comment %} <button>Crear</button> {% endcomment %}
    </form>
{% endblock main %}

