{% extends "base.html" %}

{% block title_head %}
    Automovil
{% endblock title_head %}

{% block h1_principal %}
   Automovil
{% endblock h1_principal %}

{% block header_desc %}
    Header descripción para el auto
{% endblock header_desc %}

{% block main %} 
    <p>
        <form action="">
            {% comment %} <input type="text" name="marca" placeholder="Marca a buscar"> {% endcomment %}
            {{formulario}}
            <input type="submit" value="Buscar">
        </form>
    </p>
    {% if listado_autos %}
        <p class="container">
            <ul>
                {% for autos in listado_autos %}
                <li>
                    {% comment %} {{paletas}} | <a href={% url "actualizarPaleta" paletas.id %}   >Actualizar</a> |<a href={% url "eliminarPaleta" paletas.id %}>Eliminar </a> | <a href= {% url "detallePaleta" paletas.id %}>Ver más...</a> {% endcomment %}
                </li>
                {% endfor %}
            </ul>
        </p>
    {% else %}
        <p>No se encontraron Automoviles..</p>
    {% endif %}
{% endblock main %}