{% extends "base.html" %}

{% block title_head %}
    Automovil
{% endblock title_head %}

{% block h1_principal %}
   Automovil
{% endblock h1_principal %}

{% block header_desc %}
    Header descripción para el auto
{% endblock header_desc %}

{% block main %} 
    {% comment %} <p>
        <form action="">
            <input type="text" name="marca" placeholder="Marca a buscar"> //si descomento el resto, tengo que cometar esta linea
            {{formulario}}
            <input type="submit" value="Buscar">
        </form>
    </p> {% endcomment %}
    <p>
        <a href={% url "crear_Automovil" %}>Crear Auto</a>
    </p>
    {% if listado_de_automoviles %}
        <p class="container">
            <ul>
                {% for autos in listado_de_automoviles %}
                <li>  
                    {% comment %} {{autos}} {% endcomment %}
                      <a href= {% url "detalle_Automovil" autos.id %}>{{autos}}</a> 
                    | <a href={% url "actualizar_Automovil" autos.id %}>Actualizar</a> 
                    | <a href={% url "eliminar_Automovil" autos.id %}>Eliminar </a>
                </li>
                {% endfor %}
            </ul>
        </p>
    {% else %}
        <p>No se encontraron Automoviles..</p>
    {% endif %}
{% endblock main %}